# data
data/*
!data/.gitkeep

# python
__pycache__/
*.pyc
.venv/
.env

# outputs
reports/*
!reports/.gitkeep
!reports/figures/
!reports/figures/*

# mac
.DS_Store

# Track summary tables as well (in addition to figures)
!reports/tables/
!reports/tables/**